{{#with celebrity}}

<h2>{{name}} details:</h2>

<h3>Celebrity Name: {{name}}</h3>
<h4>Celebrity occupation: {{occupation}}</h4>
<h5>Celebrity catchphrase: {{catchPhrase}}</h5>
{{!-- <form action="celebrities/{{id}}/edit" method="POST">
<button type="submit">Update celebrity</button>
</form> --}}
<a href="/celebrities/{{id}}/edit">Edit the celebrity</a>

{{/with}}
