{{#with movie}}

<h2>{{title}} details:</h2>

<h3>Movie Name: {{title}}</h3>
<h4>Movie genre: {{genre}}</h4>
<h5>Movie plot: {{plot}}</h5>
<h5>Movie cast: {{cast}}</h5>

<a href="/movies/{{id}}/edit">Edit the movie</a>

{{/with}}